  /* @font-face {
    font-family: OpenSans;
    src: url(/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
  }
  @font-face {
    font-family: OSitalics;
    src: url(/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
  } */
  /* @font-face {
    font-family: OpenSans;
    src: url(/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
  } */
  /* body {
    background-image: url('galaxy.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
  } */
  .loader {
    width: 100vw;
    height: 100vh;
    background-color: #e8cc99;
    margin: 0;
    padding: 0;
    position: fixed;
    transition: opacity 3s, visibility 3s;
  }
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  .cup {
    height: 140px;
    width: 180px;
    border: 6px solid #e8cc99;
    position: absolute;
    top: 40%;
    left: 40%;
    border-radius: 0 0 70px 70px;
    background: url('coffee.png');
    box-shadow: 0 0 0 6px white;
    background-repeat: repeat-x;
    background-position: 0 140px;
    animation: fill 2.5s infinite;
  }

  @keyframes fill {
    0% {
      background-position: 0 140px;
    }
    20% {
      background-position: -450px 100px;
    }
    40% {
      background-position: -900 50px;
    }
    80% {
      background-position: -1350px -40px;
    }
    100% {
      background-position: 0 140px;
    }
    
  }
  .handle {
    height: 70px;
    width: 40px;
    background-color: transparent;
    border: 6px solid white;
    position: relative;
    left: 175px;
    top: 5px;
    border-radius: 0 25px 80px 0;
  }

  .outer-container {
    padding: 0 5%;
    overflow: hidden;
  }
  
  .inner-container {
    min-height: 100%;
    position: relative;
  }
  
  .title {
    padding-top: 25vh;
    font-size: 250px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    animation-delay: 6s;
    animation: slideRight 2s ease-in-out;
    color: #e8cc99;
  }
  .subtitle {
    padding-top: 25vh;
    font-size: 75px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin: 0;
    color: #e8cc99;
  }
  
  .desc {
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin: 0;
    animation: slideUp 2s ease-in-out;
    color: #835b0f;
  }
  .read-more {
    font-weight: 700;
  }
  .read-more:hover {
    text-decoration: underline;
    transition: 0.5s;
  }
  .details {
    padding: 20px 0;
    margin-top: 0;
    color: #835b0f;
    font-weight: 600;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  
  .grouped-details {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: baseline;
    font-size: 20px;
    justify-content: space-between;
    text-decoration: none;
  }
  .grouped-details:hover {
    color: #e8cc99;
    font-size: 25px;
    transition: 1s;
  }
  
  .italics {
    /* font-family: OSitalics; */
    font-style: italic;
    margin-top: 0;
    font-weight: 400;
  }
  
  /* animations */
  
  @keyframes fadeIn {
     0% {
        opacity: 0;
     }
     100% {
        opacity: 1;
     }
  } 
  
  @keyframes slideRight {
    0% {
       transform: translateX(2000px);
       color: #835b0f;
    }
    100% {
      transform: translateX(0px);
      color: #e8cc99;
    }
  } 
  
  @keyframes slideUp {
    0% {
       transform: translateY(700px);
    }
    100% {
      transform: translateY(0px);
    }
  } 
  
  *
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
  }
  
  header {
    position: fixed;
    z-index: 10000;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 70px;
    background-color: #835b0f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(0 15px 35px rgba(0,0,0,0.5))
  }
  
  header a {
    text-decoration: none;
    color: white;
  }
  
  header nav {
    display: flex;
    width: 450px;
  }
  
  header nav a {
    position: relative;
    list-style: none;
    width: 80px;
    height: 60px;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-weight: 500;
    text-align: center;
  }
  
  header nav a .icon {
    position: relative;
    display: block;
    line-height: 60px;
    font-size: 1.5em;
    transition: 0.5s;
  }
  
  header nav a.active .icon  {
    transform: translateY(-40px);
  }
  
  header nav a .text {
    position: absolute;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: 500;
    letter-spacing: 0.05em;
    transition: 0.5s;
    translate: transformY(15px);
    opacity: 0;
  }
  
  header nav a.active .text {
    translate: transformY(-4px);
    background-color: white;
    opacity: 1;
    color: #835b0f;
  }
  
  .icon {
    width: 32px;
    fill: white !important;
  }
  
  .indicator {
    position: absolute;
    top: -35px;
    width: 80px;
    height: 70px;
    background-color: #835b0f;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 1;
  }
  
  .indicator::before {
    content: '';
    position: absolute;
    left: -28px;
    top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 15px 18px #835b0f;
  }
  .indicator::after {
    content: '';
    position: absolute;
    right: -28px;
    top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: -15px 18px #835b0f;
  }

  header nav a:nth-child(1).active ~ .indicator {
    transform: translateX(calc(90px *0));
  }
  header nav a:nth-child(2).active ~ .indicator {
    transform: translateX(calc(90px *1));
  }
  header nav a:nth-child(3).active ~ .indicator {
    transform: translateX(calc(90px *2));
  }
  header nav a:nth-child(4).active ~ .indicator {
    transform: translateX(calc(90px *3));
  }
  header nav a:nth-child(5).active ~ .indicator {
    transform: translateX(calc(90px *4));
  }
  header nav a:nth-child(6).active ~ .indicator {
    transform: translateX(calc(75px *5));
  }
  
  .card {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2% 0 5% 0;
    padding: 2% 5% 2% 0%;
    border-radius: 15px;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    color: black;
  }
  .card:hover {
    box-shadow: -15px 18px #835b0f;
    cursor: pointer;
    transition: 1s;
  }
  .card-set {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2% 0 5% 0;
    padding: 2% 5% 2% 0%;
    border-radius: 15px;
    align-items: center;
    justify-items: center;
    box-shadow: -15px 18px #e8cc99;
    text-decoration: none;
    color: black;
  }
  .project-image {
    max-width: 500px;
    text-align: center;
  }
  .project-title {
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2em;
  }
  .project-desc {
    font-size: 18px;
    line-height: 2em;
  }
  .three-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .social-container {
    width: 90%;
    height: 60px;
    border-radius: 15px;
    background-color: #e8cc99;
    text-align: center;
    border: 2px solid #835b0f;
  }
  .social-container:hover {
    filter: drop-shadow(0 0 0.75rem #835b0f);
    cursor: pointer;
    transition: 0.8s;
  }



  @media screen and (max-width: 600px) {
    .inner-container {
      max-height: 100%;
      position: relative;
    }
    
    .title {
      font-size: 100px;
    }
    .subtitle {
      padding-top: 25px;
      font-size: 50px;
    }
    
    .left {
      padding: 5px 0;
    }
    .right {
      padding: 5px 0;
    }

    .desc {
      font-size: 25px;
    }

    .grouped-details {
      font-size: 15px;
    }
  }