@font-face {
  font-family: fatFace;
  src: url(/src/assets/fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
.fatFace {
  font-family: fatFace;
}

@font-face {
  font-family: fatFace;
  src: url(/src/assets/fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}

@font-face {
  src: url(/src/assets/fonts/Amiko/Amiko-Bold.ttf);
  font-family: amikoBold;
}
.amikoBold {
  font-family: amikoBold;
}

@font-face {
  src: url(/src/assets/fonts/Amiko/Amiko-Regular.ttf);
  font-family: amikoReg;
}
.amikoReg {
  font-family: amikoReg;
}

@font-face {
  src: url(/src/assets/fonts/Amiko/Amiko-SemiBold.ttf);
  font-family: amikoSemi;
}
.amikoSemi {
  font-family: amikoSemi;
}

@font-face {
  src: url(/src/assets/fonts/Bungee_Inline/BungeeInline-Regular.ttf);
  font-family: bungeeInline;
}
.inline {
  font-family: bungeeInline;
  padding:0 2%;
  word-wrap: break-word;
}
.inline:hover {
  font-family: bungeeOutline;
}

@font-face {
  src: url(/src/assets/fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
  font-family: bungeeOutline;
}
.outline {
  font-family: bungeeOutline;
  padding:0 2%;
  word-wrap: break-word;
}
.outline:hover {
  font-family: bungeeInline;
}

.code .design .eat .sweat {
  background-color: none;
}
.code:hover {
  background-color: #FBD1AB;
}
.design:hover {
  background-color: #F8D1ED;
}
.eat:hover {
  background-color: #FFECDB;
}
.sweat:hover {
  background-color: #FFE4F6;
}

.outer-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10% 0;
}

.arrow {
  position: relative;
  width: 50px;
  animation: bounce infinite 1s linear;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
} 

.arrow-container {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
}

.inner-container {
  min-height: 100vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 15%;
}

.paragraph-text {
  font-size: calc(1vmin + 1vmin);
  color: #6C665C;
  margin: 2% 0;
  letter-spacing: 3px;
  line-height: 200%;
}

.text-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: baseline;
  word-wrap: break-word;
  white-space: initial;
  justify-content: flex-start;
  width: 70vw;
}

.title {
  font-size: calc(1vmin + 7vmin);
  margin: 2% 0;
  letter-spacing: 10px;
  color: #6C665C;
  cursor: default;
}

.subtitle {
  font-size: calc(1vmin + 5vmin);
  margin: 2% 0;
  letter-spacing: 6px;
  white-space: nowrap;
  color: #6C665C;
}

.work-banner {
  padding: 2% 0;
  width: 70vw;
}


/* word */
.work-outer-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 5% 0;
}

.icon {
  width: 32px;
}
.icon-container {
  padding: 2%;
}

.work-inner-container {
  min-height: 100vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3% 15%;
}

.work-paragraph-text {
  font-size: calc(1vmin + 1vmin);
  color: #6C665C;
  margin: 2% 0;
  letter-spacing: 3px;
  line-height: 200%;
}
.work-text-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  word-wrap: break-word;
  white-space: initial;
  justify-content: flex-start;
  width: 70vw;
}

.work-title {
  font-size: calc(1vmin + 4vmin);
  margin: 1% 0;
  letter-spacing: 6px;
  color: #6C665C;
  cursor: default;
}

.work-subtitle {
  font-size: calc(1vmin + 2vmin);
  margin: 1% 0;
  letter-spacing: 3px;
  white-space: nowrap;
  color: #6C665C;
}

.work-example {
  padding: 2% 0;
}

.work-header {
  width: 100vw;
}

.link {
  color: #6C665C;
  text-decoration: none;
}

.link:hover{
  background-color: #DAF6E0;
  font-weight: bold;
}