@font-face {
  font-family: fatFace;
  src: url(/src/assets/fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
.fatFace {
  font-family: fatFace;
}

@font-face {
  font-family: fatFace;
  src: url(/src/assets/fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}

@font-face {
  src: url(/src/assets/fonts/Amiko/Amiko-Bold.ttf);
  font-family: amikoBold;
}
.amikoBold {
  font-family: amikoBold;
}

@font-face {
  src: url(/src/assets/fonts/Amiko/Amiko-Regular.ttf);
  font-family: amikoReg;
}
.amikoReg {
  font-family: amikoReg;
}

@font-face {
  src: url(/src/assets/fonts/Amiko/Amiko-SemiBold.ttf);
  font-family: amikoSemi;
}
.amikoSemi {
  font-family: amikoSemi;
}

@font-face {
  src: url(/src/assets/fonts/Bungee_Inline/BungeeInline-Regular.ttf);
  font-family: bungeeInline;
}
.inline {
  font-family: bungeeInline;
  padding:0 2%;
  word-wrap: break-word;
}
.inline:hover {
  font-family: bungeeOutline;
}

@font-face {
  src: url(/src/assets/fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
  font-family: bungeeOutline;
}
.outline {
  font-family: bungeeOutline;
  padding:0 2%;
  word-wrap: break-word;
}
.outline:hover {
  font-family: bungeeInline;
}

.code .design .eat .sweat {
  background-color: none;
}
.code:hover {
  background-color: #FBD1AB;
}
.design:hover {
  background-color: #F8D1ED;
}
.eat:hover {
  background-color: #FFECDB;
}
.sweat:hover {
  background-color: #FFE4F6;
}

.outer-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10% 0;
}

.arrow {
  position: relative;
  width: 50px;
  animation: bounce infinite 1s linear;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
} 

.arrow-container {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
}

.inner-container {
  min-height: 100vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 15%;
}

.paragraph-text {
  font-size: calc(1vmin + 1vmin);
  color: #6C665C;
  margin: 2% 0;
  letter-spacing: 3px;
  line-height: 200%;
}

.text-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: baseline;
  word-wrap: break-word;
  white-space: initial;
  justify-content: flex-start;
  width: 70vw;
}

.title {
  font-size: calc(1vmin + 7vmin);
  margin: 2% 0;
  letter-spacing: 10px;
  color: #6C665C;
  cursor: default;
}

.subtitle {
  font-size: calc(1vmin + 5vmin);
  margin: 2% 0;
  letter-spacing: 6px;
  white-space: nowrap;
  color: #6C665C;
}

.work-banner {
  padding: 2% 0;
  width: 70vw;
}


/* word */
.work-outer-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 5% 0;
}

.icon {
  width: 32px;
}
.icon-container {
  padding: 2%;
}

.work-inner-container {
  min-height: 100vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3% 15%;
}

.work-paragraph-text {
  font-size: calc(1vmin + 1vmin);
  color: #6C665C;
  margin: 2% 0;
  letter-spacing: 3px;
  line-height: 200%;
}
.work-text-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  word-wrap: break-word;
  white-space: initial;
  justify-content: flex-start;
  width: 70vw;
}

.work-title {
  font-size: calc(1vmin + 4vmin);
  margin: 1% 0;
  letter-spacing: 6px;
  color: #6C665C;
  cursor: default;
}

.work-subtitle {
  font-size: calc(1vmin + 2vmin);
  margin: 1% 0;
  letter-spacing: 3px;
  white-space: nowrap;
  color: #6C665C;
}

.work-example {
  padding: 2% 0;
}

.work-header {
  width: 100vw;
}

.link {
  color: #6C665C;
  text-decoration: none;
}

.link:hover{
  background-color: #DAF6E0;
  font-weight: bold;
}

#slider {
  position: relative;
  display: block;
  width: 300px;
  height: 650px;
  margin: 2%;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#slider2 {
  position: relative;
  display: block;
  width: 800px;
  height: 500px;
  margin: 2%;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#slider ul, #slider2 ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}

#slider ul li, #slider2 ul li {
  position: relative;
  height: 100%;
  float: left;
}

#slider ul li img {
  width: 300px;
  height: 650px;
}
#slider2 ul li img {
  width: 800px;
  height: 500px;
}

#slider #prev, #slider #next,
#slider2 #prev, #slider2 #next {
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-50%);
  transition: all 150ms ease;
}

#slider #prev, #slider2 #prev {
  left: 10px;
}
#slider #next, #slider2 #next {
  right: 10px;
}

#slider #prev:hover, #slider #next:hover,
#slider2 #prev:hover, #slider2 #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}



#gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 25vw);
  grid-gap: 15px;
}

#gallery img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

#gallery2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 15vw);
  grid-gap: 15px;
}

#gallery2 img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

#gallery3 {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 20vw);
  grid-gap: 15px;
}

#gallery3 img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

#gallery4 {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(1, 35vw);
  grid-gap: 15px;
}

#gallery4 img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

#gallery5 {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: repeat(1, 25vw);
  grid-gap: 15px;
}

#gallery5 img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}